<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium animi
    optio id ad quod autem repellat eveniet corporis tempore accusantium.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="Images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__tittle quote__author">Ratul</h3>
        <p class="quote__organization">ABC</p>
      </div>
    </div>
  </footer>
</blockquote>
